#home{
    height: 100vh;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    background-color: black;
    font: white;
    /* border: 2px solid green; */
  }
  
  #nav{
    /* border: 2px solid red; */
    padding: 0 1vw;
    height: 5vh;
  }
  
  #libraryAndContent{
    display: flex;
    height: 85vh;
    flex-direction: row;
    gap: 8px;
    flex-grow: 1;
  }

  #signUpFooter{
    height: 8vh;
  }

  #webPlaybackComp{
    height: 8vh;
  }

  #library{
    /* border: 2px solid red; */
    border-radius: 7px;
    background-color: #898b881f;
    width: 20vw;
  
  }
  
  #mainScreen{
    /* border: 2px solid red; */
    border-radius: 7px;
    background-color: #898b881f;
    flex-grow: 1;
  }
  
  