/* Unfilled part */
#scrollBar {
    width: 100%;
    height: 4px;
    background-color: #898b881f; /* Unfilled part color */
    border-radius: 5px;
    overflow: hidden;
  }
  
/* Filled part */
#scrollFill {
  height: 100%;
  background-color: white; /* Filled part color */
  transition: width 0.3s; /* Smooth transition */
}

#scrollBar:hover #scrollFill{
  background-color: rgb(64, 169, 64); 
}